<a href="https://colab.research.google.com/github/Lindbeck99/Cursos_Python/blob/main/Pandas/Aula4_Read%26Write_Excel_Files/Aula_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas
arquivo_csv = pandas.read_csv('/content/stock_data.csv', na_values = ['not available', 'n.a.'])
arquivo_csv

  tickers    eps  revenue   price         people
0   GOOGL  27.82       87   845.0     larry page
1     WMT   4.61      484    65.0            NaN
2    MSFT  -1.00       85    64.0     bill gates
3    RIL     NaN       50  1023.0  mukesh ambani
4    TATA   5.60       -1     NaN     ratan tata

In [4]:
arquivo_csv.to_csv('New Stock_Data')

In [8]:
excel = pandas.read_excel('/content/stock_data.xlsx', nrows=3)
excel_stock = excel[['tickers', 'people']]
excel_stock

  tickers      people
0   GOOGL  larry page
1     WMT        n.a.
2    MSFT  bill gates

In [14]:
excel_wheater = pandas.read_excel('/content/stocks_weather.xlsx', nrows=3)
excel_wheater = excel_wheater[['price', 'tickers']]
excel_wheater

   price tickers
0    845   GOOGL
1     65     WMT
2     64    MSFT

In [16]:
with pandas.ExcelWriter('/content/stocks_weather.xlsx') as writer:
  excel_stock.to_excel(writer, sheet_name = 'stocks')
  excel_wheater.to_excel(writer, sheet_name = "wheater")